.section-team {
    background-color: #F5F4FA;
}

.team-catalog {
    display: flex;
}

.team-catalog-list {
    width: 270px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-catalog .team-catalog-list:not(:last-child) {
    margin-right: 30px;
}

.worker-name-profession {
    padding: 30px 30px;
}

.worker-name {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-align: center;
}

.profession {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
}

// Иконки соц сетей сотрудников
.icon-list {
    display: flex;
}

.icon-enumeration:not(:last-child) {
    margin-right: 10px;
}